.content h1{
  color: #fff;
  text-align: center;
  margin-top: 20px;
  padding: 5px;
  font-size: 18px;
  background-color: #464646;
}
.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px auto;
    max-width: 500px;
  }
  
  .checkout-form label {
    font-weight: 600;
    color: #333;
  }
  
  .checkout-form input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 8px 0;
  }
  
  .tpo{
    padding: 50px;
    background: #b9b5b5;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width:100%;
    
    
  }
   .tpo button {
    margin-top: 20px;
    color: white;
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .checkout-table select{
   color: #5b5a5a;
   width: 215px;
   height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #e0d7d7;
  }
  /* Responsive */
  @media (max-width: 768px) {
    .checkout-form {
      max-width: 90%;
    }
  }

  @media (max-width: 480px) {
    .checkout-table select{
      width: 210px;
    }
  }
  