h1{
  color: #fff;
  text-align: center;
  margin-top: 20px;
  padding: 5px;
  font-size: 18px;
  background-color: #464646;
}

.prdctdtl {
     padding: 20px;
     display: flex; 
   
  }
  .prdctdtl img{
    width: 400px;
    height: auto;
    margin-right: 20px;
  }
  .pinfo{
    padding: 40px;
  }
  
  .prdctdtl .price {
    font-size: 24px;
    color: #FF5733;
    font-weight: bold;
  }
  
  .prdctdtl p {
    font-size: 18px;
    color: #555;
    margin-top: 15px;
  }
  
  .prdctdtl h3 {
    padding-top: 20px;
    font-size: 20px;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .prdctdtl {
     justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    .prdctdtl img{
      width: 250px;
      margin-right: 0px;
    }
    .pinfo{
      padding: 20px;
    }
  }
  @media (max-width: 480px) {
    h1{font-size: 16px;}
    .pinfo{
      padding: 0px;
    }
    h2{font-size: 14px; margin: 0;}
    .prdctdtl img{
      width: 250px;
      margin-right: 0px;
    }
    .pinfo p{font-size: 14px;}
  }
  